.App {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: turquoise;
}

#preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#preview {
  width: 600px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px;
  blockquote {
    border-left: 3px solid #224B4B;
    color: #224B4B;
    padding-left: 5px;
    margin-left: 25px;
  }
  code {
    background: white;
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
  }
  pre {
    background: white;
    padding: 5px 0 5px 5px;
  }
  table, th, td {
    border: 1px solid black;
  }
}
