body {
  background: linear-gradient(54deg, #3e84e4, #e13030);
  background-size: 400% 400%;

  -webkit-animation: animBack 14s ease infinite;
  -moz-animation: animBack 14s ease infinite;
  animation: animBack 14s ease infinite;
}

@-webkit-keyframes animBack {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes animBack {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes animBack {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}

#preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#preview {
  width: 600px;
  border: 15px solid rgb(61, 131, 211);
  border-radius: 30px;
  padding: 50px;
  margin: 20px;
  blockquote {
    border-left: 3px solid #224B4B;
    color: #224B4B;
    padding-left: 5px;
    margin-left: 25px;
  }
  code {
    background: white;
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
  }
  pre {
    background: white;
    padding: 5px 0 5px 5px;
  }
  table, th, td {
    border: 1px solid black;
  }
}
